In [103]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [104]:
## Loading Dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Preprocess the data

In [105]:
## Drop unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [106]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [107]:
## One hot encode 'Geography' column
onehot_encoder_geo = OneHotEncoder(sparse_output=False, drop='first')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0

In [108]:
## Save the encoders and scaler
with open("label_encoder_gender.pkl", "wb") as f:
    pickle.dump(label_encoder_gender, f)
with open("onehot_encoder_geo.pkl", "wb") as f:
    pickle.dump(onehot_encoder_geo, f)

In [109]:
## Divide the dataset into features and target variable
X = data.drop('Exited', axis=1)
y = data['Exited']

## Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [110]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.36766974,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ...,  1.6612541 ,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.25280688,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ..., -0.1427649 ,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ..., -0.05082558,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.81456811,
         1.72572313, -0.57638802]])

In [111]:
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

#### ANN Implementation

In [112]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [113]:
# Build an ANN model
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(11,)),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(32, activation="relu"),
    tf.keras.layers.Dense(1, activation="sigmoid")
])

model.compile(
    optimizer="adam",
    loss="binary_crossentropy",
    metrics=["accuracy"]
)
# model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])  ## optimizer has fixed learning rate
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                768

 dense_19 (Dense)            (None, 32)                2080

 dense_20 (Dense)            (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [114]:
## Set up the Tensorboard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [115]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor="val_loss", patience=10, restore_best_weights=True)

In [116]:
## Training the Model
history = model.fit(
    X_train,y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tf_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 779us/step - loss: 0.4547 - accuracy: 0.8015 - val_loss: 0.3820 - val_accuracy: 0.8405
Epoch 2/100
250/250 [==============================] - 0s 526us/step - loss: 0.3727 - accuracy: 0.8465 - val_loss: 0.3530 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 0s 510us/step - loss: 0.3519 - accuracy: 0.8571 - val_loss: 0.3487 - val_accuracy: 0.8570
Epoch 4/100
250/250 [==============================] - 0s 517us/step - loss: 0.3432 - accuracy: 0.8616 - val_loss: 0.3465 - val_accuracy: 0.8600
Epoch 5/100
250/250 [==============================] - 0s 504us/step - loss: 0.3388 - accuracy: 0.8619 - val_loss: 0.3476 - val_accuracy: 0.8625
Epoch 6/100
250/250 [==============================] - 0s 501us/step - loss: 0.3349 - accuracy: 0.8616 - val_loss: 0.3425 - val_accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 0s 501us/step - loss: 0.3311 - accuracy: 0.8629 - val_loss: 0.3484 - val_accuracy: 0.8625
Epoch 8/100
250/250 [==============================] - 0s 505us/step - loss: 0.3278 - accuracy: 0.8639 - val_loss: 0.3461 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 0s 535us/step - loss: 0.3268 - accuracy: 0.8661 - val_loss: 0.3457 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 0s 529us/step - loss: 0.3247 - accuracy: 0.8668 - val_loss: 0.3407 - val_accuracy: 0.8650
Epoch 11/100
250/250 [==============================] - 0s 502us/step - loss: 0.3213 - accuracy: 0.8685 - val_loss: 0.3442 - val_accuracy: 0.8605
Epoch 12/100
250/250 [==============================] - 0s 506us/step - loss: 0.3203 - accuracy: 0.8684 - val_loss: 0.3436 - val_accuracy: 0.8555
Epoch 13/100
250/250 [==============================] - 0s 499us/step - loss: 0.3186 - accuracy: 0.8656 - val_loss: 0.3422 - val_accuracy: 0.8675
Epoch 14/100
250/250 [==============================] - 0s 501us/step - loss: 0.3169 - accuracy: 0.8700 - val_loss: 0.3435 - val_accuracy: 0.8620
Epoch 15/100
250/250 [==============================] - 0s 503us/step - loss: 0.3143 - accuracy: 0.8681 - val_loss: 0.3433 - val_accuracy: 0.8625
Epoch 16/100
250/250 [==============================] - 0s 502us/step - loss: 0.3135 - accuracy: 0.8699 - val_loss: 0.3412 - val_accuracy: 0.8635
Epoch 17/100
250/250 [==============================] - 0s 500us/step - loss: 0.3109 - accuracy: 0.8725 - val_loss: 0.3400 - val_accuracy: 0.8610
Epoch 18/100
250/250 [==============================] - 0s 535us/step - loss: 0.3105 - accuracy: 0.8714 - val_loss: 0.3449 - val_accuracy: 0.8595
Epoch 19/100
250/250 [==============================] - 0s 521us/step - loss: 0.3081 - accuracy: 0.8710 - val_loss: 0.3459 - val_accuracy: 0.8595
Epoch 20/100
250/250 [==============================] - 0s 542us/step - loss: 0.3078 - accuracy: 0.8729 - val_loss: 0.3415 - val_accuracy: 0.8615
Epoch 21/100
250/250 [==============================] - 0s 499us/step - loss: 0.3062 - accuracy: 0.8710 - val_loss: 0.3426 - val_accuracy: 0.8635
Epoch 22/100
250/250 [==============================] - 0s 494us/step - loss: 0.3040 - accuracy: 0.8733 - val_loss: 0.3427 - val_accuracy: 0.8620
Epoch 23/100
250/250 [==============================] - 0s 493us/step - loss: 0.3030 - accuracy: 0.8717 - val_loss: 0.3423 - val_accuracy: 0.8640
Epoch 24/100
250/250 [==============================] - 0s 495us/step - loss: 0.3013 - accuracy: 0.8746 - val_loss: 0.3429 - val_accuracy: 0.8610
Epoch 25/100
250/250 [==============================] - 0s 529us/step - loss: 0.3004 - accuracy: 0.8741 - val_loss: 0.3468 - val_accuracy: 0.8585
Epoch 26/100
250/250 [==============================] - 0s 512us/step - loss: 0.2992 - accuracy: 0.8780 - val_loss: 0.3462 - val_accuracy: 0.8610
Epoch 27/100
250/250 [==============================] - 0s 499us/step - loss: 0.2974 - accuracy: 0.8761 - val_loss: 0.3456 - val_accuracy: 0.8610

In [117]:
model.save('model.h5')
# model.save("model.keras") 
# model.load_weights("model.h5")

/Users/hyashwanth/Desktop/Learning_Gen_AI/Python/11_ANN_Classification/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [118]:
model.save("model.keras")

In [119]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [120]:
  %reload_ext tensorboard

In [121]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6010 (pid 98970), started 0:23:10 ago. (Use '!kill 98970' to kill it.)